

body,html{margin: 0;
padding: 0;
font-family: lato;
font-size: 20px;}

.barra-topo{
    background-color: #ff6b28;
    padding: 15px;
    text-align: center;
}

#cabecalho{
    background-image: url(/pagina_receita/images/hero_bolo.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}
.conteudo{
    margin: auto;
    max-width: 990px;
    padding: 0 40px;

    margin-top: 100px;

}
h1,h2,h3,h4,h5,h6{
    color: #ff6b28;
}
h1{
    font-size: 48px
}

h2{
    font-size: 28px;
    margin-bottom: 40px;
}

.cartao{
    /* border: 1px solid; */
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.cartao:hover{
    box-shadow: 8px 8px 15px 12px rgb(205, 205, 205, 0.65);
}

.ingredientes{
    cursor: url("/pagina_receita/images/cursor_ingredientes.png"), default;

}


.preparo{
    cursor:url("/pagina_receita/images/cursor_preparo.png"),default ;
}

.botao{
    background-color: #ff6b28;
    padding: 16px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    
}
li{margin-bottom: 14px;

line-height: 28px;}

.lista-ingre{
    margin-bottom: 50px;
}

p{
 line-height: 28px;
}

.instrucoes{
    cursor: url(/pagina_receita/images/cursor_intrucoes.png), pointer;
}
.footer{
    background-color: #ff6b28;
    color: white;
    padding: 20px;
    text-align: center;
    
}

.footer-text{max-width: 500px;
margin: auto;
font-size: 16px;
line-height: 24px;
}
.text-w{
    color: white;
    text-decoration: none;
}