* {
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main {
    margin: auto;
    position: relative;
    margin-top: 200px;
    background-color: rgb(248, 234, 216);
    max-width: 350px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px ;

}
.container1{
    margin-top: 30px;
    position: relative;
    left: 20px;
}

.container2{
   
    position: relative;
    left: 20px;
}
.container1 .container2{

   
    margin-bottom: 20px;
    font-size: 25px;
    
    max-width: 350px;


}



body{
    background-color: bisque;
}

h1{
    color: rgba(240, 248, 255, 0.918);
    background-color: rgb(60, 138, 138);
    
    border-radius: 20px 20px 0px 0px;
}
span{
    color: rgba(32, 50, 68, 0.432);
    font-weight: 900;
    
}
span, h1{
    display: block;
    text-align: center;
}
input {
    color: rgba(104, 72, 33, 0.664);
    border-radius: 5px;
    text-align: right;
    font-size: 23px;
    background-color: rgb(155, 181, 194);
    border: 0;
    outline: none;
}