body{
    font-family:"Open Sans", "arial";
    margin: 0;
    padding: 0;
    color: #555;
 }

 h1,h2{color: #111;}

a{color: #fd8a24;
    font-weight: 700;
    text-decoration: none;
}

.top-bar{
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid #fd8a24;


}

.container{
    max-width: 888px;
    margin: auto;
    padding: 30px;
}

.subtitulo{
    font-weight: 400px;
    font-size: 20px;
}

.headerline{
    /*  tamanho da fonte ideal valor da fonte mais  8px */
    font-size: 56px;
    line-height: 64px;

}

.autor{
    font-weight: bold;
    font-size: 0.8em;

}

.socil-icons{
    margin-top: 10px;
}

.social-icon{
 width: 20px;
 padding: 10px 10px 10px 0px;

}

.content{
    max-width: 648px;
    margin: auto;
    text-align: justify;
}

.cta{
    font-size: 20px;
    margin: 30px 0;
}

p{
    font-size: 20px;
    line-height: 32px;
}

figure{
    padding: 0;
    margin: 0;
    font-size: 12px;

}

figure>img{
    width: 100%;
}

.footer{
    background-color: #333;
    height: 100px;
    
}
