*{padding: 0%;
    margin: 0%;}

body{
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: black;
}

.container{
    max-width: 1000px;
    margin: auto;

}
.forcontainer{
    max-width: 230px;
    background-color: #ffffff88;
    padding: 20px;
    float: right;
}
section{
    padding: 20px;
    background-image: url("./image/people.jpg");
    background-size: cover;
    overflow: hidden;
}
h2{
    font-size: 16px;

}
.mb{
    margin-bottom: 15px;
}


header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 10px;
    

}
.title{
    font-size: 26px;
    
}
input,select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;

}
input[type="submit"]{
    color: white;
    background-color: #48c5ce ;
    font-weight: bold;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./image/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

.piture{
    width:160px;

}

footer{
    
   background-color: #202121;
   padding: 40px;
   text-align: center;
}
.description{
    color: white;
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;


}

.description p, .description h3{
    margin-bottom: 20px;
}

 .description h3{
    font-size: 24px;
 }
