*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    text-align: center;
}




body{
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 4fr 2fr ;

    grid-template-areas: 
    "header header header"
    ". article aside" 
    ". section1 ."
    ". section2 ."
    ". section2 ."
    ". section3 ."
    ". section4 ."
    "footer footer footer"
    ;
}

.item{
    background-color: tomato;
}

.header{
    grid-area: header;
    height: 100px;
}

                            /* lista */
.aside{
    grid-area: aside;
    height: 200px;
    padding: 20px;
    margin: 5px;
    font-size: 15px;
}

.lista{
    list-style: none;
}

li{
    padding-bottom: 10px;
}


                        /* assunto da pagina */

img{
    padding: 20px;
}
.article{
    grid-area: article;
    
}

.section1{
    grid-area: section1;
}
.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
.section4{
    grid-area: section4;
}

.footer{
    grid-area: footer;
    height: 50px;
    
}


